<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzActivityMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzActivity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PRIORITY" jdbcType="VARCHAR" property="priority" />
    <result column="ENDDATE" jdbcType="DATE" property="enddate" />
    <result column="OPPTY_ID" jdbcType="VARCHAR" property="opptyId" />
    <result column="CUSTOMER_ID" jdbcType="VARCHAR" property="customerId" />
    <result column="OUTCOME" jdbcType="VARCHAR" property="outcome" />
    <result column="ACTIVE_FLG" jdbcType="CHAR" property="activeFlg" />
    <result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
  </resultMap>
</mapper>