<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzAddressMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="PHONE_NO" jdbcType="VARCHAR" property="phoneNo" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="DISTRICT" jdbcType="VARCHAR" property="district" />
    <result column="SUBDISTRICT" jdbcType="VARCHAR" property="subdistrict" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
  </resultMap>
</mapper>