<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzClassroomMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzClassroom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ADDR_NO" jdbcType="VARCHAR" property="addrNo" />
    <result column="ADDR_NAME" jdbcType="VARCHAR" property="addrName" />
    <result column="SEAT_MAP_ID" jdbcType="VARCHAR" property="seatMapId" />
    <result column="AVAILABLE" jdbcType="CHAR" property="available" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
    <result column="ADDR_DESC" jdbcType="LONGVARCHAR" property="addrDesc" />
  </resultMap>
</mapper>