<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzCodeGeneratorConfigMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzCodeGeneratorConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="BMENTITY_ID" jdbcType="VARCHAR" property="bmentityId" />
    <result column="BUSMODULE_NAME" jdbcType="VARCHAR" property="busmoduleName" />
    <result column="PR_BUSENTITY_NAME" jdbcType="VARCHAR" property="prBusentityName" />
    <result column="BUSENTITY_NAME" jdbcType="VARCHAR" property="busentityName" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="PACK" jdbcType="VARCHAR" property="pack" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="API_PATH" jdbcType="VARCHAR" property="apiPath" />
    <result column="API_PREFIX" jdbcType="VARCHAR" property="apiPrefix" />
    <result column="REMOVE_TZ_PREFIX" jdbcType="CHAR" property="removeTzPrefix" />
    <result column="COVER" jdbcType="CHAR" property="cover" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ACTIVE_FLG" jdbcType="CHAR" property="activeFlg" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
  </resultMap>
</mapper>