<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzIdcardMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzIdcard">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="STUDENT_ID" jdbcType="VARCHAR" property="studentId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="IDNUMBER" jdbcType="VARCHAR" property="idnumber" />
    <result column="MAIN_FLG" jdbcType="CHAR" property="mainFlg" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
  </resultMap>
</mapper>