<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzLinkMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzLink">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SRCHSPEC" jdbcType="VARCHAR" property="srchspec" />
    <result column="PARENT_BE_NAME" jdbcType="VARCHAR" property="parentBeName" />
    <result column="CHILD_BE_NAME" jdbcType="VARCHAR" property="childBeName" />
    <result column="SRC_FLD_NAME" jdbcType="VARCHAR" property="srcFldName" />
    <result column="DST_FLD_NAME" jdbcType="VARCHAR" property="dstFldName" />
    <result column="INTER_TBL_NAME" jdbcType="VARCHAR" property="interTblName" />
    <result column="IPARENT_COL_NAME" jdbcType="VARCHAR" property="iparentColName" />
    <result column="ICHILD_COL_NAME" jdbcType="VARCHAR" property="ichildColName" />
    <result column="MODULE" jdbcType="VARCHAR" property="module" />
    <result column="ACTIVE_FLG" jdbcType="CHAR" property="activeFlg" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
  </resultMap>
</mapper>