<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzMenuNodeMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzMenuNode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TREE_ID" jdbcType="VARCHAR" property="treeId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="SEQUENCE" jdbcType="SMALLINT" property="sequence" />
    <result column="HIDDEN" jdbcType="TINYINT" property="hidden" />
    <result column="TYPE" jdbcType="TINYINT" property="type" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="COMPONENT_ID" jdbcType="VARCHAR" property="componentId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="TITLE_KEY" jdbcType="VARCHAR" property="titleKey" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="PERMISSION_ID" jdbcType="VARCHAR" property="permissionId" />
    <result column="SITE_COLU_ID" jdbcType="VARCHAR" property="siteColuId" />
    <result column="SITE_TEMP_ID" jdbcType="VARCHAR" property="siteTempId" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
    <result column="VARIABLES" jdbcType="LONGVARCHAR" property="variables" />
  </resultMap>
</mapper>