<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzPtDefMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzPtDef">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="BE_ID" jdbcType="VARCHAR" property="beId" />
    <result column="SEARCHSPEC" jdbcType="VARCHAR" property="searchspec" />
    <result column="DATASET_ID" jdbcType="VARCHAR" property="datasetId" />
    <result column="LABEL_FIELD" jdbcType="VARCHAR" property="labelField" />
    <result column="VALUE_FIELD" jdbcType="VARCHAR" property="valueField" />
  </resultMap>
</mapper>