<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.TzPtFieldDefMapper">
  <resultMap id="BaseResultMap" type="com.study.entity.TzPtFieldDef">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MODIFICATION_NUM" jdbcType="INTEGER" property="modificationNum" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
    <result column="LAST_UPD" jdbcType="TIMESTAMP" property="lastUpd" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="PT_DEF_ID" jdbcType="VARCHAR" property="ptDefId" />
    <result column="FIELD_ID" jdbcType="VARCHAR" property="fieldId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="DISPLAY_FLG" jdbcType="CHAR" property="displayFlg" />
    <result column="DISPLAY_ORDER" jdbcType="INTEGER" property="displayOrder" />
    <result column="DISPLAY_NAME" jdbcType="VARCHAR" property="displayName" />
    <result column="TAG_CODE" jdbcType="VARCHAR" property="tagCode" />
    <result column="SEARCH_FLG" jdbcType="CHAR" property="searchFlg" />
    <result column="CONTROL_TYPE" jdbcType="VARCHAR" property="controlType" />
    <result column="TRANSFORM_CODE" jdbcType="VARCHAR" property="transformCode" />
  </resultMap>
</mapper>